@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    background: linear-gradient(135deg, #17ead9, #6078ea);
}

* {
    box-sizing: inherit;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nav-toggle {
    cursor: pointer;
    display: none;
}

.nav-toggle h1 {
    margin: 0;
}

.nav-menu {
    width: 2.5rem;
    height: 5px;
    background: #000;
    position: relative;
}

.nav-menu::before {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 2.5rem;
    height: 5px;
    background: #000;
}

.nav-menu::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 2.5rem;
    height: 5px;
    background: #000;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
}

.nav-bar ul li {
    padding: 1rem 2rem;
}

.nav-bar ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    transition: all 0.3s;
}

.nav-bar ul li a:hover {
    transition: all 0.3s;
    font-size: 2.5rem;
    text-decoration: underline;
}

.introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* letter-spacing: 2px; */
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.introduction .greeting {
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: 5px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #fff;
}

.introduction .greeting:hover {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 4rem;
}

.introduction .intro-name, .introduction .intro-line {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 1rem auto;
}

.project {
    margin-top: 2rem;
    margin-right: 2rem  ;
    border: 1px solid;
    background: #fff;
    flex-basis: calc(50% - 2rem);
}

.thumbnail {
    display: block;
    height: auto;
    max-width: 100%;
}

.caption {
    padding-left: 15px;
    margin-top: 5px;
}

.description {
    padding: 0 15px;
}

.tags {
    padding-left: 15px;
    width: 99%;
    margin: auto;
    margin-bottom: 10px;
}

.tags span {
    display: inline-block;
    background: #00f;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 0 4px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

#about {
    display: inline-block;
    text-align: center;
    color: #fff;
}

#about h1 {
    width: 80%;
    font-size: 3rem;
    margin: 10px auto;
    color: #fff;
}

#about p {
    width: 80%;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: lcenter;
    letter-spacing: 2px;
    color: #fff;
}

#contact {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}

#contact h1 {
    width: 80%;
    font-size: 3rem;
    margin: 10px auto;
    color: #fff;
}

#contact p {
    width: 80%;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
}

.social-links {
    font-size: 2rem;
    margin: 10px auto;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}

footer {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    font-size: 1rem;
}

.fa-heart {
    color: red;
}