html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Literata', serif;
/*    background: linear-gradient(15deg, #17ead9, #6078ea);*/
    background: #22a7f0;
    color: #fff;
}

* {
    box-sizing: inherit;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
/*    border: 1px solid;*/
}

.intro {
/*    border: 1px solid;*/
}

.intro p {
/*    font-family: 'Fascinate', cursive;*/
    font-size: 3rem;
    font-style: italic;
    margin: 0;
/*    border: 1px solid;*/
    text-align: center;
}

.intro h1{
/*    border: 1px solid;*/
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    margin-top: -2rem;
    text-align: center;
}

.social-links {
/*    border: 1px solid;*/
    text-align: center;
}

.fa-twitter, .fa-github, .fa-codepen {
/*    border: 1px solid;*/
    font-size: 2rem;
    padding: 10px 20px;
    color: #fff;
    
}

.about {
/*    border: 1px solid;*/
}

.portfolio {
/*    border: 1px solid;*/
}

.project-1 {
/*    border: 1px solid;*/
}

.about h1, .portfolio h1, .main-footer h1 {
    font-size: 2rem;
}

.about p, .portfolio p, .main-footer p {
    font-size: 1.2rem;
}

.thumbnail-container {
/*    border: 1px solid;*/
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
/*
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
*/
}

.thumbnail {
    display: block;
    margin: auto;
    border: 8px solid #013243;
    max-width: 90%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: transparent;
}

.thumbnail-description {
    margin: auto;
    max-width: 90%;
    text-align: center;
    border: 8px solid #013243;
    border-top: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 1.2rem;
}

.project-2 {
/*    border: 1px solid;*/
}

.project-3 {
/*    border: 1px solid;*/
}

.project-4 {
/*    border: 1px solid;*/
}

a {
    text-decoration: none;
    color: black;
}